{% extends 'fileViewer/base.html' %}
{% load static %}

{% block content %}
<div class="header_title">
    <p>List of Brands</p>
</div>

<table class="list_brands" id="list-brands">
    <thead>
        <tr>
            <td>Name</td>
            <td>Code</td>
        </tr>
    </thead>
        <tbody>
        {% for brand in brand_list %}
            <tr>
                <td>{{brand.brandName}}</td>
                <td>{{ brand.brandCode}}</td>
            </tr>
        {% endfor %}
        </tbody>
</table>
<br>
<br>
<br>
<p><a class="button_bottom" href="{% url 'home' %}">Back to home</a></p>

{% endblock %}