{% extends 'fileViewer/base.html' %}
{% load static %}

{% block content %}

 <h2>Brands</h2>
<table id="list-brands">
    <thead>
        <tr>
            <td>Name</td>
            <td>Code</td>
        </tr>
    </thead>
        <tbody>
        {% for brand in brand_list %}
            <tr>
                <td>{{brand.brandName}}</td>
                <td>{{ brand.brandCode}}</td>
            </tr>
        {% endfor %}
        </tbody>
</table>

<p><a href="{% url 'home' %}">Back to home</a></p>

{% endblock %}