{% extends 'fileViewer/base.html' %}
{% load static %}
{% block content %}


<div class="header_title">
    <p>Dashboard</p>
</div>

<div class="Dashboard_graph_content">
    <table>
        <tr>
            <td><div id="donutchart" ></div></td>
            <td><div id="barchartdoc" ></div></td>
        </tr>
    </table>
</div>

<div class="results_search_content">
    <div class="label_result">Results:</div>
    <div class="search_results">
        <p>nl documents: {{ query_nl_documents.count }}</p>
        <p>fr documents:{{ query_fr_documents.count }}</p>
        <p>total: {{ total }}</p>
    </div>
</div>
<p><a class="button_bottom" href="{% url 'home' %}">Return to home</a></p>

{% endblock %}
