{% extends 'fileViewer/base.html' %}
{% load static %}

{% block content %}
<div class="header_title">
    <p>Advanced Search</p>
</div>
<p>Choose search parameter to find documents:</p>

<form method="POST" id="form_search_document_Name">
    {% csrf_token %}
    {{ form.as_table}}
    <button type="submit">Search</button>
</form>

<p>Results:</p>
    {% if search_result %}
        <ul>
        {% for i in search_result %}
            <br>
            <li><a href="{{ i.documentFile.url }}">{{ i.documentName}}</a></li>

            <iframe width="600 px" height="300 px" src="{{ i.documentFile.url }}"></iframe>
            <br>
        {% endfor %}
        </ul>
    {% else %}
        <p>No documents found</p>
    {% endif %}

<p><a href="{% url 'home' %}">Return to home</a></p>
{% endblock %}

