{% extends 'fileViewer/base.html' %}
{% load static %}

{% block content %}
<div class="header_title">
    <p>Upload a new file</p>
</div>

<div class="form_file_upload">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table_form_file_upload">
      <tr>
        <td>{{form.as_table}}</td>
        <!--<td>{{uploadFormPart1}}</td>
        <td>{{uploadFormPart2}}</td>-->
      </tr>
    </table>
    <br>
    <button type="submit">Upload Document</button>
  </form>
</div>
<br>
<br>
<br>
<br>
<p><a class="button_bottom" href="{% url 'home' %}">Return to home</a></p>

{% endblock %}
