{% extends 'fileViewer/base.html' %}
{% load static %}

{% block content %}
<div class="header_title">
    <p>List of Norm Ref</p>
</div>

<table id="list-brands">
    <thead>
        <tr>
            <td>Name</td>
        </tr>
    </thead>
    <tbody>
    {% for NormativeRef in NormativeRef_list %}
        <tr>
            <td>{{NormativeRef.normCode}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<p><a class="button_bottom" href="{% url 'home' %}">Back to home</a></p>

{% endblock %}